Package: SmartCtl
Priority: optional
Version: 0.2.1
Architecture: all
Maintainer: Robert Damas <rdamas>
Depends: smartmontools
Description: SmartCtl is a very simple frontend for displaying smartctl output
Section: misc
Homepage: https://github.com/rdamas/smartctl

